:root {
  --backgroundBodyColor: rgb(176, 157, 11);
  --mainBackgroundColor: rgb(204, 197, 165);
  --secondBackgroundColor: rgb(77, 61, 12);
  --white: white;
  --mainTextColor: #111;
  --secondTextColor: rgb(136, 97, 52);
  --transition: 0.3s ease;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--mainTextColor);
}
p {
  font-size: 16px;
  text-align: justify;
  text-indent: 25px;
  margin-bottom: 10px;
  line-height: 1.7;
}
a {
  all: unset;
}
a,
button {
  cursor: pointer;
}

body {
  padding: 50px 30px;
  background-color: var(--backgroundBodyColor);
}
.insideBody {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}
/*--------------------------HEADER-SECTION-----------------------------*/
.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondBackgroundColor);
  padding: 10px;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menuElement {
  all: unset;
  margin-right: 30px;
  font-weight: bold;
  transition: var(--transition);
  color: var(--white);
}
.menuElement:hover {
  color: var(--secondTextColor);
}

/*--------------------------TITLE-SECTION-----------------------------*/
.titleSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

/*--------------------------ABOUT-SECTION-----------------------------*/
.aboutSection {
  background-color: var(--mainBackgroundColor);
  padding: 20px;
}
.cheeseLink {
  color: rgb(255, 255, 255);
}
.cheeseImg {
  float: left;
  width: 30vw;
  margin-top: 5px;
  margin-right: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
}

/*--------------------------PROCESSING-SECTION-----------------------------*/
.processingSection {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.tableBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.techniques {
  margin-left: 100px;
}
.techniques ul {
  margin-left: 20px;
}
.techniques ol {
  margin-left: 20px;
}
.techniques li {
  margin-left: 20px;
}
.techniques ol,
.techniques ul,
.techniques li {
  line-height: 1.7;
}
.cheeseTable1 {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}
thead tr {
  background-color: var(--mainBackgroundColor);
}
th,
td {
  text-align: center;
  border: 1px solid #111;
  padding: 20px 10px;
  margin: 20px 10px;
  font-weight: bold;
}
/*--------------------------FOOTER-SECTION-----------------------------*/
.footerSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--secondBackgroundColor);
  height: 40px;
  justify-content: center;
}
.footerBottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.bottomFooterText {
  display:flex;
  flex-direction:row;
  gap:5px;
  text-align: center;
  color: var(--white);
}
