* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
:root {
  --gap: 5px;
  --bigRadius: 20px;
  --smallRadius: 10px;
  --mainTextColor: rgb(64, 47, 12);
  --secondTextColor: rgb(128, 110, 72);
  --mainBackgroundColor: rgb(164, 126, 60);
  --mainBackgroundColorHover: rgb(140, 104, 42);
  --secondBackgroundColor: rgb(239, 238, 232);
  --secondBackgroundColorHover: rgb(184, 182, 151);
  --transition: 0.3s ease;
  --white: white;
  --black: black;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  color: var(--mainTextColor);
}
i {
  margin-right: var(--gap);
}
li {
  all: unset;
}
a,
button {
  all: unset;
  cursor: pointer;
  transition: var(--transition);
}
button {
  font-size: 18px;
}
#comparisonTable,
#hero,
#mainContent,
#footer {
  scroll-margin-top: 50px;
}
.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comparison,
.logo {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------------------------HEADER-----------------------------*/
.header {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--mainTextColor);
}
.menuBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menuBox li {
  display: flex;
  transition: var(--transition);
  height: 100%;
  width: 100%;
  min-width: 100px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.menuBox li:hover {
  background-color: rgb(209, 209, 209);
}
.menuBox li a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/*----------------------------HERO-SECTION-----------------------------*/
.heroSection {
  background-image: url("./imgs/heroSectionBackground.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
}
.heroSectionOverlay {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) + 15px);
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: rgba(53, 50, 30, 0.75);
}
.mainTitle {
  font-size: 75px;
}
.subTitle {
  font-size: 25px;
}
.mainTitle,
.subTitle,
.heroSectionBtns {
  z-index: 10;
  color: var(--white);
}
.heroSectionBtns {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) + 5px);
}
.heroSectionBtns button {
  padding: 15px 40px;
  border-radius: var(--smallRadius);
  color: var(--white);
  border: none;
  transform: translateY(0px);
  transition: var(--transition);
}
.heroSectionBtns button:hover {
  transform: translateY(-2px);
}
.learnMoreBtn {
  background-color: var(--mainBackgroundColor);
  color: var(--white);
}
.compareBtn {
  background-color: var(--white);
  color: var(--white);
}
.learnMoreBtn p {
  color: var(--white);
}
.compareBtn p {
  color: var(--mainTextColor);
}

/*----------------------------BENEFITS-CONTENTS--------------------------*/
.benefitsRow {
  padding: 75px 75px;
}
.benefitsUl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.benefitBox {
  border-radius: var(--smallRadius);
  background-color: var(--secondBackgroundColor);
  border: 1px solid var(--mainTextColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  cursor: pointer;
  transition: var(--transition);
  padding: 10px;
  gap: var(--gap);
}
.benefitsTextBox {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.benefitBox:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.benefitBox i {
  display: flex;
  justify-content: center;
  font-size: 50px;
  border: 1px solid var(--mainTextColor);
  padding: 10px;
  border-radius: var(--smallRadius);
  background-color: var(--white);
}
.benefitTitle {
  font-size: 22.5px;
}
.benefitText {
  font-size: 17.5px;
  color: var(--secondTextColor);
}

/*----------------------------POPULAR-PETS-----------------------------*/
.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: calc(var(--gap) + 10px);
}
.popularPetsSubTitle {
  font-size: 25px;
}
.popularPetsTitle {
  font-size: 40px;
}
.popularPetsUl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popularPetsUl li {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*----------------------------ABOUT-PETS-----------------------------*/
.aboutPets {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) + 15px);
  padding: 50px 25px;
  border-radius: var(--smallRadius);
  border: 1px solid var(--mainTextColor);
  background-color: var(--secondBackgroundColor);
  margin-top: 50px;
}
.aboutPetsTitle {
  font-size: 30px;
}
.aboutPetsText {
  font-size: 17.5px;
  color: var(--secondTextColor);
  white-space: pre-line;
  text-align: justify;
}
.popularPet {
  border-radius: var(--smallRadius);
  background-color: var(--white);
  transition: var(--transition);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}
.popularPet:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 11px rgba(0, 0, 0, 0.3);
}
.popularPet img {
  border-radius: var(--smallRadius);
  transition: var(--transition);
}
.animalDescriptionBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: calc(var(--gap) + 10px);
}
.animalTitleBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.animalRatingBox {
  padding: 2.5px 20px;
  background-color: var(--secondBackgroundColor);
  border-radius: var(--bigRadius);
  border: 1px solid var(--secondTextColor);
  cursor: pointer;
}
.animalRating {
  color: var(--secondTextColor);
}
.characteristicsBox {
  display: flex;
  flex-direction: column;
  bottom: 0;
}
.characteristicsTitle {
  margin-bottom: 10px;
}
.characteristics {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}
.characteristics li {
  display: flex;
  padding: 2.5px 20px;
  background-color: var(--secondBackgroundColor);
  border-radius: var(--bigRadius);
  border: 1px solid var(--secondTextColor);
  cursor: pointer;
  width: auto;
}
/*----------------------------TABLE-OF-CONTENTS--------------------------*/
.comparisonRow {
  display: flex;
  flex-direction: column;
  background-color: var(--secondBackgroundColor);
  justify-content: center;
  align-items: center;
  padding: 50px 25px;
}
.seperator {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) + 15px);
  justify-content: center;
  align-items: center;
}
.seperator hr {
  width: 30vw;
  height: 3px;
  background-color: var(--mainTextColor);
  border-radius: var(--bigRadius);
  border: none;
}
.comparisonMainTitle {
  font-size: 50px;
}
.comparisonBottomText {
  margin-top: 10px;
}
.comparisonSubTitle {
  font-size: 20px;
  margin-bottom: 50px;
}
.petTable {
  border-radius: var(--bigRadius);
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--white);
  overlay: hidden;
  border: 1px solid var(--mainTextColor);
}
.petTable thead tr:first-child th:last-child {
  border-top-right-radius: var(--bigRadius);
}
.petTable thead tr:first-child th:first-child {
  border-top-left-radius: var(--bigRadius);
}
.petTable tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--bigRadius);
}
.petTable tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--bigRadius);
}
.petTable th,
.petTable td {
  padding: 10px;
  border: 1px solid var(--mainTextColor);
}

/*----------------------------FOOTER-----------------------------*/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  gap: 10vw;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 25px;
}
.footerMessage {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  gap: var(--gap);
}
.socialsBox {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}
.socialMediaBox .title {
  margin-bottom: 10px;
}
.footerTop .title {
  margin-bottom: 10px;
}
.socialMedia {
  display: flex;
  flex-direction: column;
}
.socialMediaLinks {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}
.socialMediaLinks i {
  margin-right: 0;
}
.socialMediaLinks div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  background-color: var(--mainBackgroundColor);
  transition: var(--transition);
  color: var(--white);
}
.socialMediaLinks div:hover {
  background-color: var(--mainBackgroundColorHover);
  color: var(--white);
}
.footerBottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--mainBackgroundColor);
  padding: 20px;
  color: var(--white);
}
.githubLink:hover {
  text-decoration: underline;
}
.footer h3 {
  margin-bottom: var(--gap);
}
