*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:arial, sans-serif;
}
:root{
    --gap:5px;
    --bigRadius:20px;
    --smallRadius:10px;
    --mainTextColor:rgb(64, 47, 12);
    --mainBackgroundColor:rgb(164, 126, 60);
    --mainBackgroundColorHover:rgb(140, 104, 42);
    --secondBackgroundColor:rgb(239, 238, 232);
    --secondBackgroundColorHover: rgb(184, 182, 151);
    --transition:0.3s ease;
    --white:white;
    --black:black;
}
html{
    scroll-behavior:smooth;   
}
body{
    display:flex;
    flex-direction:column;
    color:var(--mainTextColor);
}
i{
    margin-right:var(--gap);
}
a, button{
    all:unset;
    cursor:pointer;
    transition:var(--transition);
}
button{
    font-size:15px;
}
/*----------------------------HEADER-----------------------------*/
.header{
    display:flex;
    flex-direction:row;
    background-color:var(--white);
    justify-content:space-between;
    align-items:center;
    padding:0px 25px;
    min-height:50px;
    max-height:50px;
    position:sticky;
    top:0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color:var(--mainTextColor);
}
.menuBox{
    display:flex;
    flex-direction:row;
    gap:calc(var(--gap) + 10px);
}
.menuBox li{
    all:unset;
}
.menuBox li a{
    display:flex;
    flex-direction:row;
}

/*----------------------------HERO-SECTION-----------------------------*/
.heroSection{
    background-image:url("./imgs/heroSectionBackground.jpg");
    background-repeat:none;
    background-size:cover;
    background-position:center;
    height:calc(100vh - 50px);
}
.heroSectionOverlay{
    display:flex;
    flex-direction:column;
    gap:calc(var(--gap) + 15px);
    justify-content:center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:50px;
    background-color:rgba(53, 50, 30, 0.75);
}
.mainTitle{
    font-size:50px;
}
.subTitle{
    font-size:25px;
}
.mainTitle, .subTitle, .heroSectionBtns{
    z-index:10;
    color:var(--white);
}
.heroSectionBtns{
    display:flex;
    flex-direction:row;
    gap:calc(var(--gap) + 5px);
}
.heroSectionBtns button{
    padding:10px 40px;
    border-radius:var(--smallRadius);
    color:var(--white);
    border:none;
    transform:translateY(0px);
    transition:var(--transition);
    color:var(--black);
}
.heroSectionBtns button:hover{
    transform: translateY(-1px);
}
.learnMoreBtn{
    background-color:var(--mainBackgroundColor);
    color:var(--white);
}
.compareBtn{
    background-color:var(--white);
    color:var(--white);
}
/*----------------------------TABLE-OF-CONTENTS--------------------------*/
.comparisonRow{
    display:flex;
    flex-direction:column;
    background-color:var(--secondBackgroundColor);
    justify-content:center;
    align-items:center;
    padding:25px;
}
.seperator{
    display:flex;
    flex-direction:row;
    gap: calc(var(--gap) + 15px);
    justify-content:center;
    align-items:center;
}
.seperator hr{
    width:30vw;
    height:3px;
    background-color:var(--mainTextColor);
    border-radius:var(--bigRadius);
    border:none;
}
.comparisonMainTitle{
    font-size:30px;
}
.comparisonSubTitle{
    font-size:20px;
    margin-bottom:30px;
}
.petTable{
    border-radius:var(--bigRadius);
    border-collapse: separate;
    border-spacing: 0;
    background-color:var(--white);
    overlay:hidden;
    border:1px solid var(--mainTextColor);
}
.petTable thead tr:first-child th:last-child{
    border-top-right-radius:var(--bigRadius);
}
.petTable thead tr:first-child th:first-child{
    border-top-left-radius:var(--bigRadius);
}
.petTable tbody tr:last-child td:last-child{
    border-bottom-right-radius:var(--bigRadius);
}
.petTable tbody tr:last-child td:first-child{
    border-bottom-left-radius:var(--bigRadius);
}
.petTable th,
.petTable td
{
    padding:10px;
    border: 1px solid var(--mainTextColor);
}

/*----------------------------FOOTER-----------------------------*/
.footer{
    display:flex;
    flex-direction:column;
    width:100%;
}
.footerTop{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background-color:var(--white);
    gap:10vw;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    padding:25px;
}
.footerMessage{
    display:flex;
    flex-direction:column;
    width:400px;
    justify-content:center;
    gap:var(--gap);
}
.socialsBox{
    display:flex;
    flex-direction:column;
    gap:2.5vh;
}
.socialMediaBox .title{
    margin-bottom:10px;
}
.footerTop .title{
    margin-bottom:10px;
}
.socialMedia{
    display:flex;
    flex-direction:column;
}
.socialMediaLinks{
    display:flex;
    flex-direction:row;
    gap:var(--gap);
}
.socialMediaLinks i {
    margin-right:0;
}
.socialMediaLinks div{
    display:flex;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    border-radius:50%;
    padding:10px;
    cursor:pointer;
    background-color:var(--mainBackgroundColor);
    transition:var(--transition);
    color:var(--white);
}
.socialMediaLinks div:hover{
    background-color:var(--mainBackgroundColorHover);
    color:var(--white);
}
.footerBottom{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    background-color:var(--mainBackgroundColor);
    padding:20px;
    color:var(--white);
}
.githubLink:hover{
    text-decoration:underline;
}